<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <!-- <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css"> -->
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="test-url" value="" placeholder="www.url.com">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>

            <section class="url-results">
                <strong>Form Results:</strong>
               <!-- <div id="results"></div> -->
				<ul>
					<h3>Score Tag:</h3>
					<p id="score_tag"></p>
					<h4>Confidence: </h4>
					<p id="confidence"></p>
					<h3>Subjectivity:</h3>
					<p id="subjectivity"></p>
					<h4>Irony: </h4>
					<p id="irony"></p>
					<h3>Agreement:</h3>
					<p id="agreement"></p>
				</ul>
            </section>
			
			<section class="errors">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <div id="error"></div>
            </section> 
			
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
		
        <script>
        	if ('serviceWorker' in navigator) {
        		window.addEventListener('load', () => {
        			navigator.serviceWorker.register('/service-worker.js').then(registration =>{
        				console.log('SW registered successfuly: ', registration);
                    });
                });
        	}else{
        		console.log("Service Working not supported");
            }
        </script>
		
    </body>
</html>
